<div class="page">
<footer class="contact" id="contact">
    <h2 class="contact__title">Cristina Muñiz</h2>
    <h3 class="contact__title2">Front End Developer</h3>
    <div class="contact__icons">
        <a class="contact__icons--git" href="https://github.com/CrisMuniz">GitHub<i class="fa-brands fa-github icon"></i
            ></a>
        <a class="contact__icons--lin" href="https://www.linkedin.com/in/cristina-muniz-marin/">Linkedin<i class="fa-brands fa-linkedin icon"></i></a>
    </div>
    <div class="copy">
        &#169; 2023 Portfolio CM
    </div>
</footer>
</div> 