<div class="container">
  <header class="header">
    <section class="header-section1">
      <div class="header-section1__logo" ><a class="cm" href="https://www.linkedin.com/in/cristina-muniz-marin/">CM</a> </div>
    </section>
    <section class="header-section2">
      <ul class="header-section2__ul  js_links">
        <li class="js_aboutme"><a href="#aboutme" >Sobre Mí</a></li>
        <li class="js_portfolio"><a href="#portfolio" >Portfolio</a></li>
        <li class="js_contact"><a href="#contact" >Contacto</a></li>
      </ul>
       <div class="header-section2__icon js_burger">
        <!-- <i class="fa-solid fa-bars"></i> -->
        <span class="header-section2__icon--span"></span>
        <span class="header-section2__icon--span"></span>
        <span class="header-section2__icon--span"></span>
      </div>
    </section>
  </header>
</div>
