<div class="page">
<main class="main-container">
  <!-- seccción Sobre Mi -->
<section class="aboutme" id="aboutme">
  <article class="aboutme__art1">
    <h1 class="aboutme__art1--title">Cristina Muñiz</h1>
    <h2 class="aboutme__art1--title2">Front End Developer</h2>
    <p class="aboutme__art1--parr">Recien graduada en desarrollo web con muchas ganas de seguir aprendiendo y ampliando horizontes.Me encantan las manualidades, las motos y me pierden los postres.</p>
    <button class="aboutme__art1--btn">Descargar CV</button>
  </article>
  <article class="aboutme__art2">
    <img class="aboutme__art2--img" src="./assets/images/foto_cris.jpg" alt="cris">
  </article>
</section>
<!-- sección Portfolio -->
<section class="portfolio" id="portfolio">
  <h2 class="portfolio__title">Portfolio</h2>
  <ul class="galery">
    <li class="proyect1">
      <img class="proyect1__img" src="./assets/images/anonimusproxy.png" alt="">
      <h3 class="proyect1__title">Anonimus Proxy</h3>
      <p class="proyect1__parr"> HTML  || CSS || SASS</p>
      <div class="proyect1__icon">
      <a class="proyect1__icon--git" href="https://github.com/CrisMuniz/modulo-1-evaluacion-final-CrisMuniz"><i class="fa-brands fa-github"></i></a>
      <a class="proyect1__icon--web" href="http://beta.adalab.es/modulo-1-evaluacion-final-CrisMuniz/"><i class="fa-solid fa-globe"></i></a>
    </div>
    </li>
    <li class="proyect2">
      <img class="proyect2__img" src="./assets/images/personajesdisney.jpg" alt="">
      <h3 class="proyect2__title">Personajes Disney</h3>
      <p class="proyect2__parr"> HTML  || CSS || SASS || JS</p>
      <div class="proyect2__icon">
      <a class="proyect2__icon--git" href="https://github.com/CrisMuniz/modulo-2-evaluacion-final-CrisMuniz"><i class="fa-brands fa-github"></i></a>
      <a class="proyect2__icon--web" href="http://beta.adalab.es/modulo-2-evaluacion-final-CrisMuniz/"><i class="fa-solid fa-globe"></i></a>
    </div>
    </li>
    <li class="proyect3">
      <img class="proyect3__img" src="./assets/images/rickandmorty.jpg" alt="">
      <h3 class="proyect3__title">Rick and Morty</h3>
      <p class="proyect3__parr"> HTML  || CSS || SASS || JS || REACT</p>
      <div class="proyect3__icon">
      <a class="proyect3__icon--git" href="https://github.com/CrisMuniz/modulo-3-evaluacion-final-CrisMuniz"><i class="fa-brands fa-github"></i></a>
      <a class="proyect3__icon--web" href="http://beta.adalab.es/modulo-3-evaluacion-final-CrisMuniz/"><i class="fa-solid fa-globe"></i></a>
    </div>
    </li>
    <li class="proyect4">
      <img class="proyect4__img" src="./assets/images/villanasdelcodigo.jpg" alt="">
      <h3 class="proyect4__title">Villanas del Código</h3>
      <p class="proyect4__parr"> HTML  || CSS || SASS </p>
      <div class="proyect4__icon">
      <a class="proyect4__icon--git" href="https://github.com/CrisMuniz/project-promo-t-module-1-team-2"><i class="fa-brands fa-github"></i></a>
      <a class="proyect4__icon--web" href="http://beta.adalab.es/project-promo-t-module-1-team-2/"><i class="fa-solid fa-globe"></i></a>
    </div>
    </li>
    <li class="proyect5">
      <img class="proyect5__img" src="./assets/images/bobesponja.jpg" alt="">
      <h3 class="proyect5__title">Familia Bob</h3>
      <p class="proyect5__parr"> HTML  || CSS || SASS || JS </p>
      <div class="proyect5__icon">
      <a class="proyect5__icon--git" href="https://github.com/CrisMuniz/project-promo-t-module-2-team-1"><i class="fa-brands fa-github"></i></a>
      <a class="proyect5__icon--web" href="http://beta.adalab.es/project-promo-t-module-2-team-1/"><i class="fa-solid fa-globe"></i></a>
    </div>
    </li>

  </ul>
</section>
<!-- sección contacto -->
<section class="contact" id="contact">
  <h2>Contacto</h2>
  <article></article>
  <article></article>
</section>
</main>
</div>