<div class="page">
  <main class="main-container">
    <!-- seccción Sobre Mi -->
    <section class="aboutme" id="aboutme">
      <article class="aboutme__art1">
        <h1 class="aboutme__art1--title">Cristina Muñiz</h1>
        <h2 class="aboutme__art1--title2">Front End Developer Junior</h2>
        <p class="aboutme__art1--parr">
          ¡Hola Mundo! Soy Cris, me he graduado recientemente en Desarrollo Web.Si bien esta no ha sido siempre mi profesión, un buen dia decidí dejarlo todo, reinventarme y saltar al mundo Tech.
          Los comienzos nunca son fáciles y como diría mi padre "En  esta vida hay que pelear frente al cañón y sino dentro del tubo" y con esa idea en mente aquí expongo este sencillo portfolio y os animo a que exploreís algunos de mis trabajos que estoy segura de que sólo serán los primeros de muchos.

        </p>
        <a class="aboutme__art1--btn" href="./assets/images/CV_portfolio.pdf" download="CV.pdf" >Descargar CV</a>
      </article>
      <article class="aboutme__art2">
        <img
          class="aboutme__art2--img"
          src="./assets/images/foto_cris.jpg"
          alt="cris"
        />
      </article>
    </section>
    <!-- sección Portfolio -->
    <section class="portfolio" id="portfolio">
      <h2 class="portfolio__title">Portfolio</h2>
      <ul class="galery">
        <li class="proyect1">
          <img
            class="proyect1__img"
            src="./assets/images/anonymusproxy.png"
            alt=""
          />
          <h3 class="proyect1__title">Anonimus Proxy</h3>
          <p class="proyect1__parr">HTML || CSS || SASS</p>
          <div class="proyect1__icon">
            <a
              class="proyect1__icon--git"
              href="https://github.com/CrisMuniz/modulo-1-evaluacion-final-CrisMuniz"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect1__icon--web"
              href="http://beta.adalab.es/modulo-1-evaluacion-final-CrisMuniz/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect2">
          <img
            class="proyect2__img"
            src="./assets/images/personajesdisney.png"
            alt=""
          />
          <h3 class="proyect2__title">Personajes Disney</h3>
          <p class="proyect2__parr">HTML || CSS || SASS || JS</p>
          <div class="proyect2__icon">
            <a
              class="proyect2__icon--git"
              href="https://github.com/CrisMuniz/modulo-2-evaluacion-final-CrisMuniz"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect2__icon--web"
              href="http://beta.adalab.es/modulo-2-evaluacion-final-CrisMuniz/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect3">
          <img
            class="proyect3__img"
            src="./assets/images/rickymorty.png"
            alt=""
          />
          <h3 class="proyect3__title">Rick and Morty</h3>
          <p class="proyect3__parr">HTML || CSS || SASS || JS || REACT</p>
          <div class="proyect3__icon">
            <a
              class="proyect3__icon--git"
              href="https://github.com/CrisMuniz/modulo-3-evaluacion-final-CrisMuniz"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect3__icon--web"
              href="http://beta.adalab.es/modulo-3-evaluacion-final-CrisMuniz/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect4">
          <img
            class="proyect4__img"
            src="./assets/images/villanasdelcodigo.png"
            alt=""
          />
          <h3 class="proyect4__title">Villanas del Código</h3>
          <p class="proyect4__parr">HTML || CSS || SASS</p>
          <div class="proyect4__icon">
            <a
              class="proyect4__icon--git"
              href="https://github.com/CrisMuniz/project-promo-t-module-1-team-2"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect4__icon--web"
              href="http://beta.adalab.es/project-promo-t-module-1-team-2/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect5">
          <img
            class="proyect5__img"
            src="./assets/images/bobesponja.png"
            alt=""
          />
          <h3 class="proyect5__title">Familia Bob</h3>
          <p class="proyect5__parr">HTML || CSS || SASS || JS</p>
          <div class="proyect5__icon">
            <a
              class="proyect5__icon--git"
              href="https://github.com/CrisMuniz/project-promo-t-module-2-team-1"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect5__icon--web"
              href="http://beta.adalab.es/project-promo-t-module-2-team-1/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect6">
          <img
            class="proyect6__img"
            src="./assets/images/juegoTopos.png"
            alt=""
          />
          <h3 class="proyect6__title">Goplea al Topo</h3>
          <p class="proyect6__parr">HTML || CSS || SASS || JS</p>
          <div class="proyect6__icon">
            <a
              class="proyect6__icon--git"
              href="https://github.com/CrisMuniz/Golpea-al-topo"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect6__icon--web"
              href="https://crismuniz.github.io/Golpea-al-topo/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect7">
          <img
            class="proyect7__img"
            src="./assets/images/weatherapp.png"
            alt=""
          />
          <h3 class="proyect7__title">Weather App</h3>
          <p class="proyect7__parr">REACT || VITE || JSX </p>
          <div class="proyect7__icon">
            <a
              class="proyect7__icon--git"
              href="https://github.com/CrisMuniz/weather-app"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect7__icon--web"
              href="https://crismuniz.github.io/weather-app/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
        <li class="proyect8">
          <img
            class="proyect8__img"
            src="./assets/images/Task-list.png"
            alt=""
          />
          <h3 class="proyect8__title">Task List</h3>
          <p class="proyect8__parr">REACT || JS </p>
          <div class="proyect8__icon">
            <a
              class="proyect8__icon--git"
              href="https://github.com/CrisMuniz/Task-List"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              class="proyect8__icon--web"
              href="https://crismuniz.github.io/Task-List/"
              ><i class="fa-solid fa-globe"></i
            ></a>
          </div>
        </li>
      </ul>
    </section>
    <!-- seccion contacto -->
    <section class="contact" id="contact">
      <div class="contact__title">
      <h2 class="contact__title--d1" >Contacto</h2>
    </div>
    <div class="contact__title2">
      <h3 class="contact__title2--d2">info@crismuniz.com</h3>
      <div class="contact__icons">
          <a class="contact__icons--git" href="https://github.com/CrisMuniz">GitHub<i class="fa-brands fa-github icon"></i
              ></a>
          <a class="contact__icons--lin" href="https://www.linkedin.com/in/cristina-muniz-marin/">Linkedin<i class="fa-brands fa-linkedin icon"></i></a>
      </div>
    </div>
    </section>
  </main>
</div>
