<div class="page">
<main class="main-container">
  <!-- seccción Sobre Mi -->
<section class="aboutme" id="aboutme">
  <article class="aboutme__art1">
    <h1 class="aboutme__art1--title">Cristina Muñiz</h1>
    <h2 class="aboutme__art1--title2">Front End Developer</h2>
    <p class="aboutme__art1--parr">Recien graduada en desarrollo web con muchas ganas de seguir aprendiendo y ampliando horizontes.Me encantan las manualidades, las motos y me pierden los postres.</p>
    <button class="aboutme__art1--btn">Descargar CV</button>
  </article>
  <article class="aboutme__art2">
    <img class="aboutme__art2--img" src="./assets/images/foto_cris.jpg" alt="cris">
  </article>
</section>
</main>
</div>