
.footer{
  background-color:  #801357 ;
  height: 40px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  &__copy {
  font-family: $font-main;
  font-size: 16px;
  color:$letter-color;
  margin-top:10px ;
  margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 1100px;
    &__copy {
      font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    max-width: 1100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
  }
}
