.container {
  background-color:$primary-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: $font-title;
  font-size: 12px;
}
.header {
  max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 2px red solid;
}
.header-section1 {
width: 50px;
display: flex;
align-items: center;

&__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color:$letter-color;
  font-size: 16px;
}
}

.header-section2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
   &__ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;

   }
    &__icon {
      color: $secondary-color;
      font-size: 14px;
    }

}
.header-section2 ul li a {
  text-decoration: none;
  color: $secondary-color;

}
@media screen and (min-width: 768px) {
  .header-section1 {
    &__logo {
      font-size: 24px;
    }
  }
  .header-section2 {
    &__ul{
      font-size: 16px;
    }
  }
}

