.container {
  background-color:$primary-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: $font-title;
  font-size: 12px;
}
.header {
  max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header-section1 {
width: 50px;
display: flex;
align-items: center;

&__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color:$letter-color;
}
}

.header-section2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
   &__ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    
   }
    &__icon {
      color: $secondary-color;
    }

}
.header-section2 ul li a {
  text-decoration: none;
  color: $secondary-color;
}

