.main-container {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    max-width: 1100px;
}
.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    background-color: $primary-color;
   
    &__art1{
        margin-top: 20px;
        font-size: 16px;
        width: 200vw;
        text-align: center;
        &--title {
            margin-bottom: 20px;
            text-align: center;
            color:$letter-color;
            font-family: $font-title;
            font-size: 24px;
        }
        &--title2 {
            margin-top: 15px;
            font-size: 20px;
            font-family: $font-title;
            color:$secondary-color;
        }
        &--parr {
            text-align: center;
            font-family: $font-main;
            color:$secondary-color;
        }
        &--btn {
            margin-top: 20px;
           background-color: $letter-color;
           color: $secondary-color;
           margin: 20px auto;
           padding: 10px 22px;
           border-radius: 50px;
           font-size: 14px;

        }
    }
    &__art2 {
        margin-top: 20px;
        width: 200vw;
        background-color: purple;
    }
}